* {
    font-family: sans-serif;
    --highlight-color: #C95050;
    --detail-color: red;
    --bg-color: #EEEEEE;
    --text-color: black;
    background-color:var(--bg-color);
}
a {
    font-style: normal;
    text-decoration: none;
}
.navlink {
    width: 200px;
    height: 40px;
    padding-top: 10px;
    display: inline-block;
    text-align:center;
    border-style: solid;
    font-size:25px;
}
.standard {
    color: var(--text-color);
    border-color: var(--detail-color);
    background-color: var(--bg-color);
}
.selected {
    color: var(--text-color);
    border-color: var(--detail-color);
    background-color: var(--highlight-color);
}
#navbar {
    width: 100%;
    margin:0px;
    height: auto;
}
