<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Template</title>
        <meta name="description" content:"Template page for p5.js">

        <link rel="stylesheet" type:"text.CSS" href="/resources/css/styles.css">

        <script language="javascript" type="text/javascript" src="/resources/utility/p5/p5.js"></script>
        <script language="javascript" src="/resources/utility/p5/p5.dom.js"></script>
        <script language="javascript" src="/resources/utility/p5/p5.sound.js"></script>

        <script language="javascript" type="text/javascript" src="sketch.js"></script>
    </head>
    <body>
        <div id="navbar">
            <a id="navlink" class="red black" href="/"> Home </a>
            <a id="navlink" class="red black" href="/pages/template/main.html"> Test Page </a>
            <a id="navlink" class="red black" href="/pages/mapgen/main.html"> Map Gen </a>
            <a id="navlink" class="red black" href="/pages/template/main.html"> Test Page </a>
        </div>
        <div id="app" />
    </body>
</html>
