<!DOCTYPE html>
<html>
    <head>
        <!-- PAGE INFORMATION -->
        <meta charset="utf-8">
        <title>Template</title>
        <meta name="description" content:"Template page for website">

        <!-- LOADS CSS -->
        <link rel="stylesheet" type:"text.CSS" href="/resources/css/styles.css">

        <!-- CODE TO LOAD IN NAVBAR -->
        <script language="javascript" src="/resources/utility/jquery-3.3.1.min.js"></script>
        <script language="javascript" src="/resources/utility/loadnav.js"></script>
        <script>start("template");</script>
    </head>
    <body>
        <div id="navbar"></div>
        <div id="app" />
    </body>
</html>
